.SearchBar {
    position: relative;
    left: 24.5cm;
}

.btn-Search {
    background-color: #278cdb;
    position: relative;
    left: 25cm;
}

.AddVine {
    position: relative;
    right: 0cm;
    width: 10cm;
    margin-top: 20px;

}

.AddDescriptionVine {
    position: relative;
    right: 0cm;
    height: 5cm;
    width: 10cm;
    margin-top: 20px;
    
}

.AddVineBtn {
    background-color: #203864;
    position: relative;
    left: -10cm;
    margin-top: 20px;
    margin-bottom: 20px;
}