.SearchBar {
    position: relative;
    left: 24.5cm;
}

.btn-Search {
    background-color: #278cdb;
    position: relative;
    left: 25cm;
}

.EditDetail {
    position: relative;
    right: 0cm;
    width: 10cm;
    margin-top: 20px;

}

.EditDetailDesc {
    position: relative;
    right: 0cm;
    width: 10cm;
    margin-top: 20px;
    
}

.EditBGColour {
    position: relative;
    right: 0cm;
    width: 10cm;
    margin-top: 20px;
    
}
.EditColour {
    position: relative;
    right: 0cm;
    width: 10cm;
    margin-top: 20px;
    
}

.EditVineBtn {
    background-color: #203864;
    position: relative;
    left: -10cm;
    margin-top: 20px;
    margin-bottom: 20px;
}
