.ButtonSolid {
    color: White;
    background-color:#203864;
    padding: 15.5px;
    border-radius: 12px;
    border-color: black;
    text-align: center;
    text-decoration: none;
    border-width: 15px;
    margin-top: 25px;
  }

  .SearchBar {
    position: relative;
    left: 24.5cm;
}

.btn-Search {
    background-color: #278cdb;
    position: relative;
    left: 25cm;
}