.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin: 30px;
    flex-direction: row;
}

.card>img {
    display: flex;
    width: 40%;
}

.card>div {
    display: flex;
    width: 60%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.container>a {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

h2 {
    font-size: 24px;
}

.controls {
    width: 60%;
}

.controls .container {
    margin: auto;
}

.buttons {
    width: auto;
    margin: auto;
}

.addPlayground {
    left: 80%;
}

.form-group>input, .form-group>label {
    display: block;
}

.form-group {
    margin: 0 auto;
    margin-top: 20px;
}

.btn-Playground {
    left: 250px;
}